<head>
<style type ="text/css" >
  .footer{
      text-align: right;
      bottom: 5px;
      width: 100%;
  }

</style>
</head>

<body>
  <div class="footer", style="color:white;">
  <h1><a href="http://facebook.com"><i class="fab fa-instagram"></i></a>
  <a href="https://github.com/paoloalb/CAH"> <i class="fab fa-github"></i></a></h1>

  Progetto 100% italiano basato su
   <a href="http://cardsagainsthumanity.com/" target="_blank">Cards Against Humanity.</a>
   Rilasciato con licenza
   <a href="https://creativecommons.org/licenses/by-nc-sa/2.0/" target="_blank">Creative Commons</a>
  </div>

</body>
