{% extends "base.html" %}

{% block title %}hi{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}

<div class="container bg-dark">
    <div class="row">
        <div class="col p-3 m-3">
            <div class="row text-white">
                <h1> Stanze <h1>
            </div>
            <div class="row">
                {% include "rooms.html" %}
            </div>
        </div>
        <div class="col p-3 m-3">
            <div class="row">
                <div class="row text-white">
                    <h1> Le tue stanze <h1>
                </div>
            </div>
            <div class="row">
                {% include "lobby.html" %}
            </div>
        </div>
    </div>
    <div class="row">
        {% include "new.html" %}
    </div>
</div>

{% endblock %}
