{% extends "base.html" %}

{% block title %}hi{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}

<div class="container bg-dark">
    <div class="row">
        <div class="col p-3 m-3">
            <div class="row text-white">
                <h1> Stanze <h1>
            </div>
            <div class="row">
                <ul class="list-group w-100">
                    {% for room in rooms %}
                    <li class="list-group-item">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <i class="fas fa-lock"></i><h2>{{ room.name }}</h2>
                                </div>
                                <div class="col-md-auto align-middle p-0">
                                    <a href="/room/{{ room._id }}" class="list-group-item list-group-item-action active">Unisciti</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col p-3 m-3">
            <div class="col">
                <div class="row text-white">
                    <h1> Le tue stanze <h1>
                </div>
            </div>
            <div class="row">
                {% for room in player_rooms %}
                <div class="card m-1">
                    <div class="card-header">
                        <h2>{{ room.name }}</h2>
                    </div>
                    <!-- <div class="card-body"> -->
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <h5>Giocatori:</h5>
                        </li>
                        {% for player in room.players %}
                        <li class="list-group-item text-center">
                            {{ player.name }}
                        </li>
                        {% endfor %}
                        <a href="/room/{{ room._id }}" class="list-group-item list-group-item-action active">Unisciti</a>
                    </ul>
                    <!-- </div> -->
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}
