<div class="card-columns">

    <script>
        function leave_room(room_id) {
            get("/leave_room/" + room_id)
                .done(() => {
                    redirect("/");
                });
        }
    </script>

    {% for room in joined_rooms %}
    <div class="card">
        <div class="card-header h2 p-1">
            {{ room.name }}
        </div>
        <div class="card-body align-items-center d-flex justify-content-end p-1">
            {% if room.password is not none %}
            <div class="card text-white bg-secondary p-1">
                <i class="fas fa-lock"></i>
            </div>
            {% endif %}
            <div class="h2 px-1">
                {{ room.user_count }}/{{ room.user_count_max }}
            </div>
        </div>
        <div class="card-footer d-flex p-1">
            <a href="/room/{{ room._id }}" class="btn btn-primary m-1">Entra</a>
            <a href="javascript:leave_room('{{ room._id }}')" class="btn btn-primary m-1">Esci</a>
        </div>
    </div>
    {% endfor %}
</div>
