<div class="card">
    <div class="card-body">

        <script>
            function create_room() {
                let j = jform("#CreateRoom");
                let username = j.username;
                delete j.username;
                post("/new_room", j)
                    .done((r) => {
                        let room_id = r.room_id;
                        post("/join_room/" + room_id + "/" + username, {
                                password: j.password
                            })
                            .done(() => {
                                redirect("/room/" + room_id);
                            });
                    });
            }
        </script>

        <form id="CreateRoom" action="javascript:create_room()">
            <div class="form-group">
                <label for="CreateRoomName">Nome stanza</label>
                <input type="name" name="name" class="form-control" id="CreateRoomName" placeholder="Nome stanza">
            </div>
            <div class="form-group">
                <label for="CreateRoomUsername">Nome utente</label>
                <input type="username" name="username" class="form-control" id="CreateRoomUsername" placeholder="Username">
            </div>
            <div class="form-group">
                <label for="CreateRoomPassword">Password stanza</label>
                <input type="password" name="password" class="form-control" id="CreateRoomPassword" placeholder="Password">
            </div>
            <div class="form-group">
              Tempo:
                <select id = "time"  name="time" required>
                     <option value = "30">30 sec</option>
                     <option value = "45">45 sec</option>
                     <option value = "60">60 sec</option>
                     <option value = "90">90 sec</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary w-100">Crea</button>
        </form>
    </div>
</div>
