<div class="d-flex flex-column w-100">

    <script>
        $("#JoinDialog").on("show.bs.modal", function(event) {
            let room_id = $(event.relatedTarget).data("room_id");
            $(this).find("#RoomId").val(room_id);
        });
    </script>
    
    <div class="flex-grow-1 d-flex flex-column m-3">
    {% if rooms|length != 0 %}
      <div class="text-white h1">
          {{_("Rooms")}}
      </div>
    {% endif %}
    {% for room in rooms %}
    <div class="card my-1">
        <div class="card-body align-items-center d-flex py-1 px-0">
            <div class="h2 flex-grow-1 mx-2 px-1">
                {{ room.name }}
            </div>
            {% if room.password is not none %}
            <div class="card text-white bg-secondary mx-2 p-1">
                <i class="fas fa-lock"></i>
            </div>
            {% endif %}
            <div class="h2 mx-2 px-1">
                {{ room.user_count }}/{{ room.user_count_max }}
            </div>
            <div type="button" class="btn btn-primary mx-2 px-1" data-toggle="modal" data-target="#JoinDialog" data-room_id="{{ room._id }}">
                {{_("Join")}}
            </div>
        </div>
    </div>
    {% endfor %}
  </div>
</div>

<div class="modal fade" id="JoinDialog" tabindex="-1" role="dialog" aria-labelledby="JoinDialogTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="JoinDialogTitle">{{_("Choose your name")}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <script>
                $("#JoinDialog").on("show.bs.modal", function(event) {
                    $("#JoinRoomPassword").parent().removeClass("alert alert-danger");
                    $("#JoinDialog").trigger("focus");
                    let room_id = $(event.relatedTarget).data("room_id");
                    $(this).find("#JoinRoomId").val(room_id);
                });

                function join_room() {
                    let j = jform("#JoinRoom");
                    let username = j.username || "anon";
                    let room_id = j.roomid;
                    delete j.username;
                    delete j.roomid;
                    post("/join_room/" + room_id + "/" + username, j)
                        .done(() => {
                            redirect("/room/" + room_id);
                        })
                        .fail((r) => {
                            if (r.status === 403) {
                                $("#JoinRoomPassword").parent().addClass("alert alert-danger");
                            }
                        });
                }
            </script>

            <form id="JoinRoom" action="javascript:join_room()">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="JoinRoomUsername">{{_("Your name")}}</label>
                        <input type="username" name="username" class="form-control" id="JoinRoomUsername" placeholder="anon">
                    </div>
                    <div class="form-group d-none">
                        <label for="JoinRoomId">Id stanza</label>
                        <input type="roomid" name="roomid" class="form-control" id="JoinRoomId" placeholder="Id stanza">
                    </div>
                    <div class="form-group">
                        <label for="JoinRoomPassword">{{_("Room password")}}</label>
                        <input type="password" name="password" class="form-control" id="JoinRoomPassword" placeholder="Password">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{_("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary">{{_("Join")}}</button>
                </div>
            </form>
        </div>
    </div>
</div>
