{% extends "base.html" %}

{% block title %}{{ room.name }}{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="/static/css/PlayerStyle.css">
{% endblock %}

{% block content %}

<div class="card d-flex flex-column">
    <div class="d-flex align-items-center mx-4">
        <div class="display-1 flex-grow-1 pb-3">
            {{ room.name }}
        </div>
        {% if room.password is not none %}
        <div class="card text-white bg-secondary p-1">
            <i class="fas fa-lock"></i>
        </div>
        {% endif %}
    </div>
    <div class="d-flex">
        <div class="d-flex flex-column">
            <div class="border align-items-center d-flex flex-wrap p-2">
                <div class="h2 flex-grow-1">
                    Round: {{ room.round }}
                </div>
                <div id="RoundTimer" class="col-auto text-primary">
                    {% include "timer.html" %}
                    <script>
                        $("document").ready(() => {
                            set_timer("#RoundTimer", "{{ room.time }}");
                        })
                    </script>
                </div>
            </div>
            <div class="border d-flex flex-column">
                <div class="h2 align-items-center d-flex flex-wrap p-2">
                    <div class="flex-grow-1">
                         {{_("Players")}}:&nbsp;
                    </div>
                    <div>
                        {{ room.user_count }}/{{ room.user_count_max }}
                    </div>
                </div>
                {% for player in players %}
                <div class="h3 border-top align-items-center d-flex flex-wrap px-1 py-2">
                    <div class="flex-grow-1 mx-1">
                        <i class="fas fa-user text-primary mx-1"></i>{{ player.name }}
                    </div>
                    <div class="badge badge-primary badge-pill mx-1">
                        {{ player.points }}<sub>&nbsp; {{_("Points")}}</sub>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="bg-dark flex-grow-1 px-5 py-3">
            {% if caesar%}
            {% include "caesar_table.html" %}
            {%else%}
            {% include "table.html" %}
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
