{% extends "base.html" %}

{% block title %}hi{% endblock %}

{% block head %}
{{ super() }}
    <link rel="stylesheet" type="text/css" href="/static/css/PlayerStyle.css">
    <link rel="stylesheet" type="text/css" href="/static/css/TimerStyle.css">
    <script src="/static/js/SetGameTimer.js"></script>
{% endblock %}

{% block content %}

<div class="wrapper">

    <div class="sidebar">
        <h2>utenti</h2>
        <ul>

              {% for user in userRoom.users %}
                      <li><i class="fas fa-user"></i>{{user.name}}</li>
              {% endfor %}

        </ul>
        <div class="social_media">
          <a href="#"><i class="fab fa-instagram"></i></a>
             <a href="#"> <i class="fab fa-github"></i></a>

      </div>
    </div>

    <div class="main_content">

         <div class="header">
           <div class="row">
               <div class="col-md-3 ml-md-auto" id="TimerPosition">

               </div>

           </div>
         </div>

        <div class="info">
           <div class="d-flex align-items-start flex-column bd-highlight mb-3" style="height: 200px;">
                <div class="mb-auto p-2 bd-highlight">
                    <div class="BlackCard">
                        <h3 class="titleBlackCard"> {{userRoom.black_cards.text}} </h3>
                    </div>
                </div>

                <div class="p-2 bd-highlight d-flex ">
                    <div class="WhiteCardContainer d-flex flex-row">
                    {% if  userRoom.white_cards | length > 5 %}
                    {% set step = 5 %}
                    {% else %}
                    {% set step = userRoom.white_cards | length %}
                    {% endif %}

                        {% for i in range(step) %}
                            <div class="card">
                                <h3 class="titleWhiteCard"> {{ userRoom.white_cards[i].text }}</h3>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                {% if userRoom.white_cards|length  > 5 %}
                      {% if  userRoom.white_cards | length > 10 %}
                    {% set step = 10 %}
                    {% else %}
                    {% set step = userRoom.white_cards | length %}
                    {% endif %}

                      <div class="p-2 bd-highlight d-flex ">

                    <div class="WhiteCardContainer d-flex flex-row">
                        {% for i in range(5, step) %}
                            <div class="card">
                                <h3 class="titleWhiteCard"> {{userRoom.white_cards[i].text }}</h3>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                {% endif %}

                {% if userRoom.white_cards|length  > 10 %}
                      <div class="p-2 bd-highlight d-flex ">

                    <div class="WhiteCardContainer d-flex flex-row">
                        {% for i in range(10, userRoom.white_cards| length) %}
                            <div class="card">
                                <h3 class="titleWhiteCard"> {{ userRoom.white_cards[i].text }}</h3>

                            </div>
                        {% endfor %}
                    </div>
                </div>

                {% endif %}
            </div>
      </div>
    </div>
</div>

    <script>
     setHtmlCircle();
     startTimer(50);
     $(document).ready(function(){
      $(".card").dblclick(function(event){
           let target = $( event.target );
          target.children();
          alert("card was double-clicked." + target.children('h3').first().text());
      });
    });

    </script>

{% endblock %}