<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>UserPage</title>
    <link rel="stylesheet" type="text/css" href="/static/css/PlayerStyle.css">
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:300i,400" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
</head>
<body>

<div class="container">
  <div class="row">
    <div class="col-md-4">
        <div class="BlackCard">
            <h3 class="titleBlackCard">Titolo super divertente </h3>
        </div>
    </div>


  </div>

  <div class="row fixed-row-bottom">
    <div class="whiteCardsRow">
<div class="container">

  <div class="card">
    <h3 class="titleWhiteCard">ROBBE SUPER DIVERTENTI 1</h3>

  </div>

  <div class="card">
    <h3 class="titleWhiteCard">ROBBE SUPER DIVERTENTI 2</h3>

  </div>

  <div class="card">
    <h3 class="titleWhiteCard">ROBBE SUPER DIVERTENTI 3</h3>

  </div>

  <div class="card">
    <h3 class="titleWhiteCard">ROBBE SUPER DIVERTENTI 4 </h3>
  </div>


</div>
    </div>
    </div>

</div>


</body>
</html>